<ng-autocomplete
[data]="diagnostics"
[searchKeyword]="keyword"
placeholder="Diagnóstico"
[customFilter]="customFilter"
[isLoading]="isLoading"
(selected)='selectEvent($event)'
(inputChanged)='onChangeSearch($event)'
(inputFocused)='onFocused($event)'
historyIdentifier="diagnostics"
[itemTemplate]="itemTemplate"
[notFoundTemplate]="notFoundTemplate">
</ng-autocomplete>

<ng-template #itemTemplate let-item>
  <a [innerHTML]="item.name"></a>
</ng-template>

<ng-template #notFoundTemplate>
  <div>{{this.notFound}}</div>
</ng-template>